{% extends 'base.html' %}

{% block title %}关于{% endblock %}

{% block content %}
<div class="about-container">
    <h1>关于FGO从者猜猜看</h1>
    
    <div class="about-content">
        <p>FGO从者猜猜看是一个基于Fate/Grand Order游戏角色的猜谜游戏。游戏灵感来源于流行的猜词游戏，但专注于FGO的从者。</p>
        
        <h2>游戏特点</h2>
        <ul>
            <li>包含来自Fate/Grand Order的精选从者</li>
            <li>基于从者的六种属性进行比对</li>
            <li>提供直观的视觉反馈</li>
            <li>挑战你对FGO的了解程度</li>
        </ul>
        
        <h2>如何玩</h2>
        <ol>
            <li>系统会随机选择一名FGO从者作为目标</li>
            <li>你需要猜测这名从者是谁</li>
            <li>每次猜测后，系统会告诉你猜测的从者与目标从者的属性对比</li>
            <li>根据对比结果调整你的下一次猜测</li>
            <li>最多可以猜测10次，看看你能否找出谜底！</li>
        </ol>
        
        <h2>关于游戏作者</h2>
        <p>本游戏由FGO爱好者开发，旨在为玩家提供一种有趣的方式来测试他们对游戏角色的了解程度。</p>
        
        <h2>免责声明</h2>
        <p>Fate/Grand Order及其角色归TYPE-MOON/FGO PROJECT所有。本游戏仅作为粉丝作品，不具有任何商业目的。</p>
    </div>
</div>
{% endblock %}